@(month: Month)

@buttonClass(isThisMonth: Boolean) = {@if(isThisMonth) {btn-primary} else {btn-info}}

@main(month.name + " " + month.year) {
<div class="container">
    <div class="row">
        <div class="span1 center">
            <div><a class="btn" href="../@month.prevMonthYear/@month.prev"><i class="icon-step-backward"></i></a></div>
            <div><a class="btn" href="../@month.prevYear/@month.number"><i class="icon-fast-backward"></i></a></div>
        </div>
        <div class="span10">
            <table class="table table-bordered table-striped calendar">
                <thead>
                <tr>
                    <th colspan="8">@month.name @month.year</th>
                </tr>
                <tr>
                    <th>Week</th>
                    @Seq("Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun").map {dayName =>
                    <th>@dayName</th>
                    }
                </tr>
                </thead>
                <tbody>
                @month.weeks.map {week =>
                <tr>
                    <td><a class="btn" href="">@week.number</a></td>
                    @for(weekDay <- 1 to 7) {
                    <td>
                        <a class="btn @buttonClass(week.isThisMonthDay(weekDay))" href="">@week.monthDay(weekDay)</a>
                    </td>
                    }
                </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="span1 center">
            <div><a class="btn" href="../@month.nextMonthYear/@month.next"><i class="icon-step-forward"></i></a></div>
            <div><a class="btn" href="../@month.nextYear/@month.number"><i class="icon-fast-forward"></i></a></div>
        </div>
    </div>
</div>
}